

body {
    font-family: Arial, sans-serif;
    margin: 0;
}
header {
    background-color:#f4f4f4;
    color: white;
    padding: 10px;
    text-align: center;
}
header nav a {
    color: #0000ff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.17em;
    font-weight:bold;
}
.container {
    display: flex;
    height: calc(100vh - 50px);
}
aside {
    width: 20%;
    background-color: #f4f4f4;
    padding: 10px;
    overflow-y: auto;
}
main {
    width: 80%;
    padding: 20px;
    overflow-y: auto;
}
