<!-- <header>
    <nav>
        {% for book_id, book in books.items() %}
        <a href="{{ url_for('book', book_id=book_id) }}">{{ book.title }}</a>
        {% endfor %}
    </nav>
</header> -->


<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/social.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resume.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">


        <script>
    document.addEventListener('DOMContentLoaded', () => {
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme === 'dark') {
            document.body.classList.add('dark-mode');
        }
    });

    function toggleMode() {
        document.body.classList.toggle('dark-mode');
        const isDarkMode = document.body.classList.contains('dark-mode');
        localStorage.setItem('theme', isDarkMode ? 'dark' : 'light');
    }
</script>

    {% block header %}

    <meta charset="UTF-8">
    <title>My Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">

        <script type="math/tex">
            \require{sansmath}
    </script>

    <script  type="text/javascript" id="MathJax-script"
             async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


    {% endblock %}

</head>



<body>
    <header>
        <nav>
            {% for book_id, book in books.items() %}
            <a href="{{ url_for('book', book_id=book_id) }}">{{ book.title }}</a>
            {% endfor %}
        </nav>


     <button class="toggle-mode" onclick="toggleMode()">🌗 Toggle Mode</button>


    </header>


    <div class="container">
        <aside>
            {% block sidebar %}{% endblock %}
        </aside>

        <main>
            <!-- <header class="title">
            </header> -->
            {% block content %}
            {% endblock %}
        </main>

    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>





    <footer>
        <div class="footer_wrapper">
            <div class="footer_message">
                <p> &copy; Haran Arasaratnam 2013 - 2024. Crafted with ❤️ and ☕ in California</p>
            </div>

        </div>
    </footer>

</body>

</html>