
{% extends "base_chapter.html" %}

{% block content %}
    When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
    $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$

    <!-- Slide 2 -->
    <section class="left-align">
        <h2>Spherical-Radial Cubature Rule (Continued)</h2>
                <p>
            <img src="{{ url_for('static', filename='images/dssm.png') }}"
                style="width: 60%; height: auto; display: block; margin: 0 auto;">
        </p>
        <ul>
            <li>We fix the degree of the target cubature rule to be 3 for numerical reasons.</li>
            <li>We apply the third-degree monomial based cubature rule for spherical integration as follows:
                \[
                \int_{U_{n}}\mathbf{f}(r\mathbf{s})d\sigma(\mathbf{s}) \approx\sum_{i=1}^{2n}\omega_{s}\mathbf{f}[u]_{i}
                \]

            </li>
            <li>
                We apply the first-degree quadrature rule for radial integration:
                \[
                \int_{0}^{\infty}f(r)r^{n-1}\exp(-r^{-2})dr\approx \omega_{r}f(r)
                \]

            </li>
            <li>

                Combining the spherical and radial integration leads to the following third-degree spherical-radial cubature rule:
                \[
                \int_{R^{n}}\mathbf{f}(\mathbf{x})\exp(-\mathbf{x}^{T}\mathbf{x})d\mathbf{x} \approx
                \sum_{i=1}^{2n}\omega_{n}\omega_{r}\mathbf{f}([\mathbf{x}_{r}u]_{i})
                \]
            </li>
        </ul>
        <p style="text-align: right;">Page 3</p>
        <hr class="full-width">
    </section>


    <!-- Slide 2 -->
    <section class="left-align">
        <h2>Spherical-Radial Cubature Rule (Continued)</h2>
        <ul>
            <li>We fix the degree of the target cubature rule to be 3 for numerical reasons.</li>
            <li>We apply the third-degree monomial based cubature rule for spherical integration as follows:
                \[
                \int_{U_{n}}\mathbf{f}(r\mathbf{s})d\sigma(\mathbf{s}) \approx\sum_{i=1}^{2n}\omega_{s}\mathbf{f}[u]_{i}
                \]

            </li>
            <li>
                We apply the first-degree quadrature rule for radial integration:
                \[
                \int_{0}^{\infty}f(r)r^{n-1}\exp(-r^{-2})dr\approx \omega_{r}f(r)
                \]

            </li>
            <li>

                Combining the spherical and radial integration leads to the following third-degree spherical-radial cubature rule:
                \[
                \int_{R^{n}}\mathbf{f}(\mathbf{x})\exp(-\mathbf{x}^{T}\mathbf{x})d\mathbf{x} \approx
                \sum_{i=1}^{2n}\omega_{n}\omega_{r}\mathbf{f}([\mathbf{x}_{r}u]_{i})
                \]
            </li>
        </ul>
        <p style="text-align: right;">Page 3</p>
        <hr class="full-width">
    </section>

{% endblock %}

