{% extends "base_chapter.html" %}

{% block content %}


    <h3>Textbooks</h3>

    <ol>
        <li>
            Yaakov Bar-Shalom, X.-Rong Li, Thiagalingam Kirubarajan (2001). Estimation with Applications to Tracking and Navigation: Theory, Algorithms and Software. John Wiley & Sons
        </li>

    </ol>

    <h3>Journals</h3>

    <ol>
        <li>Arasaratnam, I and Haykin, S (2009). Cubature Kalman Filters, IEEE Trans. on
            Automatic Control, vol. 54, no. 6, pp. 1254-1269</li>

        <li> Kalman, R. E. (1960). A New Approach to Linear Filtering and Prediction
            Problems,
            Journal of Basic Engineering. 82: 35–45.
            <a
                href="http://www.cs.unc.edu/~welch/kalman/media/pdf/Kalman1960.pdf">http://www.cs.unc.edu/~welch/kalman/media/pdf/Kalman1960.pdf</a>
        </li>
        <li>
            Y. Ho and R. Lee (1964). A Bayesian approach to problems in stochastic estimation and control. IEEE
            Transactions on Automatic Control, vol. 9, no. 4, pp. 333-339.
        </li>
        <li>
            Uhlmann, Jeffrey & Julier, Simon. (2002). Gaussianity and the Kalman Filter: A Simple Yet Complicated
            Relationship. Journal de Ciencia e Ingeniería. 14. pp. 21-26
        </li>



       <li>Crouse, D. F (2017), The Tracker Component Library: Free Routines for Rapid Prototyping, IEEE Aerospace and Electronic Systems
           Magazine, vol. 32, no. 5, pp. 18-27.
        <a href="https://github.com/USNavalResearchLaboratory/TrackerComponentLibrary">Github Repo</a>
        </li>
    </ol>


{% endblock %}